body {
  padding-top: 60px;
}

.navbar-logo {
  margin-right: 24px;
}

.table {
  margin: 24px 0;
  border-bottom: 1px solid #DEE2E5;
}

.table thead .th-actions {
  min-width: 120px;
}

.table thead th .oi {
  font-size: 8px;
  display: none;
  color: #8eb4cb;
  margin: 0 0 0 12px;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.table thead th.sort-asc .oi-caret-top {
  display: inline-block;
}

.table thead th.sort-desc .oi-caret-bottom {
  display: inline-block;
}

.table tbody th {
  vertical-align: middle;
}

.table tbody td {
  color: #969ea2;
  vertical-align: middle;
}

.table tbody .skills th,
.table tbody .skills td {
  border: 0;
}

.note {
  display: block;
  font-size: 0.75em;
  line-height: 1.25;
  font-weight: 200;
  color: #82898c;
}

.row-filters {
  padding-bottom: 6px;
}

.form-dates {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.form-dates .input-group {
  margin-left: 6px;
  -ms-flex-preferred-size: 140px;
  flex-basis: 140px;
}

.drop-skills {
  position: relative;
  overflow: visible;
}

.drop-skills .btn {
  position: relative;
  z-index: 0;
}

.select-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #6c757d;
  color: #fff;
  border-radius: .2rem;
  border: 0;
  margin: 0;
  padding: .25rem 24px .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  height: 30px;
  background-color: #6c757d;
  background-image: url(/images/select-arrow.png);
  background-size: 20px 4px;
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.skills-list {
  position: absolute;
  z-index: 1;
  top: 99%;
  left: 0;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #fff;
}

.skills-list .form-check {
  padding: 0 24px 0 32px;
  height: 0;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  position: relative;
}

.skills-list .form-check:hover {
  background-color: #f2f2f2;
}

.skills-list .form-check input[type="checkbox"] {
  position: absolute;
  left: 12px;
  top: 14px;
}

.drop-skills:hover .skills-list {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  pointer-event: all;
  opacity: 1;
  border-color: rgba(0, 0, 0, 0.125);
}

.drop-skills:hover .form-check {
  padding: 8px 24px 8px 32px;
  height: 40px;
}

.status {
  display: inline-block;
  margin: 0 0 0 6px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
}

.status.st-active {
  background-color: green;
}

.status.st-inactive {
  background-color: red;
}

.gj-datepicker-bootstrap [role="right-icon"] button {
  background-color: #5a6268;
}

.gj-datepicker-bootstrap [role="right-icon"] button:hover {
  background-color: #484e53;
}

.gj-datepicker-bootstrap [role="right-icon"] button .material-icons,
.gj-datepicker-bootstrap [role="right-icon"] button .gj-icon {
  font-size: 18px;
  top: 6px;
  color: #fff;
}
